*
{
    padding: 0;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(./central_\ cee\ \(7\).jpg);
    background-size: 40rem;
    background-position: center;
    /* background-color: rgba(97, 97, 241, 0.459); */
}




.sign{
    width: 300px;
    /* box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3); */
    /* background-color: beige; */
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    /* background-color: gray; */
    
}
.sign h2
{
    /* color: blanchedalmond; */
    margin-bottom: 30px;
    /* background-color: black; */
    /* background-image: url(./central_\ cee\ \(7\).jpg); */
}
.input-box
{
    border-radius: 90px;
    padding: 10px;
    margin: 10px;
    outline: none;
    /* background-color: white; */
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}
.ddd
{
    color: black;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    /* background-color: black; */
    /* background-image: url(./my\ rm].jpg); */
    font-family: cursive;
}

.cee
{
    color: black;
}


